<!-- Navbar -->
<nav class="navbar navbar-expand-lg  bg-dark">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0 logotext" href="#">
               Task Manager
            </a>
           
        </div>
        <!-- Collapsible wrapper -->
        <!-- Right elements -->
        <div class="d-flex align-items-center">
            <!-- Icon -->
            <a class="text-reset me-3" href="#">
                <i class="fas fa-shopping-cart"></i>
            </a>
            <!-- Avatar -->
            <div class="">
               <a>
                    <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                         class="rounded-circle"
                         height="45"
                         alt="Black and White Portrait of a Man"
                         loading="lazy" />
                </a>
               
            </div>
        </div>
        <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->





<div class="container bootstrap snippets bootdeys">
    <div class="row">
        <div class="col-md-4 col-sm-6 content-card">
            <div class="card-big-shadow">
                <div class="card card-just-text" data-background="color" data-color="blue" data-radius="none">
                    <div class="content">
                        <h6 class="category">Best cards</h6>
                        <h4 class="title"><a href="#">Blue Card</a></h4>
                        <p class="description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                    </div>
                </div> <!-- end card -->
            </div>
        </div>

        

        
    </div>
</div>